.container{
    border: solid red;
    margin: 20px;
    padding: 20px;
}

.content{
    border: solid grey;
    margin: 20px;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    border: solid red;
    margin: 20px;
    padding: 20px;
}

.eachinput{
    border: solid green;
}

.list{
    border: solid red;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
}